[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.26"
pillow = "==9.0.0"
django-grappelli = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
