{% extends "layout.html" %}

{% block content %}

    <h1>Login</h1>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">{{ form.username.label_tag }}</label>
            {#            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp"#}
            {#                   required/>#}
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="password">{{ form.password.label_tag }}</label>
            {#            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp"#}
            {#                   required/>#}
            {{ form.password }}
        </div>

        {#        <div>#}
        {#            <td>{{ form.username.label_tag }}</td>#}
        {#            <td>{{ form.username }}</td>#}
        {#        </div>#}
        {#        <div>#}
        {#            <td>{{ form.password.label_tag }}</td>#}
        {#            <td>{{ form.password }}</td>#}
        {#        </div>#}

        <div>
            <button type="submit" name="submitButton" class="btn btn-primary">Login</button>

            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    {#    {% if message %}#}
    {#        <div>#}
    {#            {{ message }}#}
    {#        </div>#}
    {#    {% endif %}#}
    {##}
    {#    <form action="{% url 'login' %}" method="post">#}
    {#        {% csrf_token %}#}
    {##}
    {#        <div class="form-group">#}
    {#            <label for="username">Username</label>#}
    {#            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp"#}
    {#                   required/>#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <label for="password">Password</label>#}
    {#            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp"#}
    {#                   required/>#}
    {#        </div>#}
    {##}
    {#        <button type="submit" name="" class="btn btn-primary">Login</button>#}
    {#    </form>#}


{% endblock %}